@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tripple Strange Scouting</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div class="main">
          <div class="logo">
            
          </div>

      </div>
      <div class="title">
        <h1>Watching your children 24/7!1!!!</h1>
      </div>
    </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js"></script>
</body>
</html>
